.button-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-display .button-row .buttons {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}

.button-display button {
    height: 50px;
    width: 50px;
}


