.input-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-display form input {
    height: 30px;
    width: 200px;
}